In [5]:


import numpy as np
punkte = 0
punkteA = 0
punkteB = 0

results = []

while max(punkteA, punkteB) < 22:
    ballA = np.random.normal(0.3, 0.1)
    print(ballA , "TeamA")
    ballB = np.random.normal(0.4, 0.1)
    print(ballB , "TeamB")


    if ballA > ballB:
        punkteA += 1
    else:
        punkteB += 1
    print("TeamB",  punkteB, "TeamA", punkteA)
    print(punkte)


    if punkte == 21:
        print("punkte fertig")
    punkte = punkte + 1
    results.append((punkteA , punkteB))

0.29278117211139815 TeamA
0.5468200838477493 TeamB
TeamB 1 TeamA 0
0
0.2873519278996949 TeamA
0.4290214869177487 TeamB
TeamB 2 TeamA 0
1
0.3249813580938572 TeamA
0.33941627220999043 TeamB
TeamB 3 TeamA 0
2
0.33846531898811894 TeamA
0.47530443920565857 TeamB
TeamB 4 TeamA 0
3
0.35055403705861576 TeamA
0.4299521742959408 TeamB
TeamB 5 TeamA 0
4
0.3664904327834469 TeamA
0.23964708969902862 TeamB
TeamB 5 TeamA 1
5
0.2255955393880847 TeamA
0.48063666721455883 TeamB
TeamB 6 TeamA 1
6
0.28548619370960515 TeamA
0.49217075576111347 TeamB
TeamB 7 TeamA 1
7
0.24102306947362662 TeamA
0.41970040163412675 TeamB
TeamB 8 TeamA 1
8
0.24564283376072654 TeamA
0.24609296738357883 TeamB
TeamB 9 TeamA 1
9
0.34251075002295317 TeamA
0.4824324796622567 TeamB
TeamB 10 TeamA 1
10
0.21758402967526155 TeamA
0.2582396152690547 TeamB
TeamB 11 TeamA 1
11
0.4880570093849884 TeamA
0.37562459501392936 TeamB
TeamB 11 TeamA 2
12
0.22843930400326412 TeamA
0.3076706588013247 TeamB
TeamB 12 TeamA 2
13
0.35720318690834807 TeamA
0.43022102768215026 TeamB
TeamB 13 TeamA 2
14
0.4755442292850701 TeamA
0.235991890501563 TeamB
TeamB 13 TeamA 3
15
0.36033541683676656 TeamA
0.3610388255858444 TeamB
TeamB 14 TeamA 3
16
0.3673218666161875 TeamA
0.4501085709256956 TeamB
TeamB 15 TeamA 3
17
0.22129545372493387 TeamA
0.43152891164477347 TeamB
TeamB 16 TeamA 3
18
0.2787518500696965 TeamA
0.44589865731386913 TeamB
TeamB 17 TeamA 3
19
0.24725536863762923 TeamA
0.2185429549598793 TeamB
TeamB 17 TeamA 4
20
0.10643917590928326 TeamA
0.43191827555036 TeamB
TeamB 18 TeamA 4
21
punkte fertig
0.31133325282614116 TeamA
0.5782213334480549 TeamB
TeamB 19 TeamA 4
22
0.34410818308892355 TeamA
0.4910124379295951 TeamB
TeamB 20 TeamA 4
23
0.3090356445514932 TeamA
0.38055877734109095 TeamB
TeamB 21 TeamA 4
24
0.36318607447410467 TeamA
0.4373820859887875 TeamB
TeamB 22 TeamA 4
25

In [7]:
import pandas as pd
# Ausgabe als DataFrame als Variable
#df = pd.DataFrame(results, columns=["Spiele", "TeamA_punkte", "TeamB_punkte"])
#df

    TeamA_punkte  TeamB_punkte
0              0             1
1              0             2
2              0             3
3              0             4
4              0             5
5              1             5
6              1             6
7              1             7
8              1             8
9              1             9
10             1            10
11             1            11
12             2            11
13             2            12
14             2            13
15             3            13
16             3            14
17             3            15
18             3            16
19             3            17
20             4            17
21             4            18
22             4            19
23             4            20
24             4            21
25             4            22

In [27]:
import random
results = []
StaerkeA = int(input("Bitte Stärke von A eingeben [0-10]: "))
StaerkeB = int(input("Bitte Stärke von B eingeben [0-10]"))
for risk in range(0, 11): #Spielstaerke
    gewinnA = 0
    gewinnB = 0
    TeamA = 0
    TeamB = 0
    Spiele = 0
    while Spiele < 1000:
        while True:
            risiko = risk
            risikofaktor = random.randint(-risiko, risiko +1) #Normalverteilung
            ball = StaerkeA + risikofaktor - StaerkeB
            if ball > 0: #Punkt für TeamA
                TeamA +=1
                if TeamA >= 21 or TeamB >= 21:
                    if abs(TeamA - TeamB) >= 2:
                        gewinnA += 1
                        Spiele += 1
                        break
            elif ball < 0:
                TeamB += 1
                if TeamA >= 21 or TeamB >= 21:
                    if abs(TeamA - TeamB) >= 2:
                        gewinnB += 1
                        Spiele += 1
                        break
    results.append((risiko, gewinnA, gewinnB))
print(results)
import pandas as pd
# Ausgabe als DataFrame als Variable
df = pd.DataFrame(results, columns=["Risiko", "TeamA_punkte", "TeamB_punkte"])
print(df)
maxA = max( results, key=lambda x: x[1])
print(f"Für die gegebenen Staerken {StaerkeA} und {StaerkeB} wird für TeamA empfohlen mit Risiko : {maxA[0]} zu spielen")

[(0, 0, 1000), (1, 0, 1000), (2, 172, 828), (3, 322, 678), (4, 321, 679), (5, 338, 662), (6, 396, 604), (7, 389, 611), (8, 406, 594), (9, 397, 603), (10, 421, 579)]
    Risiko  TeamA_punkte  TeamB_punkte
0        0             0          1000
1        1             0          1000
2        2           172           828
3        3           322           678
4        4           321           679
5        5           338           662
6        6           396           604
7        7           389           611
8        8           406           594
9        9           397           603
10      10           421           579
Für die gegebenen Staerken 6 und 8 wird für TeamA empfohlen mit Risiko : 10 zu spielen

In [ ]:
"""werte_liste_text.append((risiko, TeamA_punkte, TeamB_punkte))
werte_liste_text.append((f"Risiko: {risiko} , f" TeamA_punkte: {gewinnA}", f" TeamB_punkte: {gewinnB}"))
for e in werte_liste_text:
    print(*e)"""

Für die gegebenen Staerken 6 und 4 wird für TeamA empfohlen mit Risiko : 0 zu spielen